/* p {
  font-family: 'Mina', sans-serif;
  font-size: 30px;
  color: #218380;
}

label {
  font-family: 'Mina', sans-serif;
  font-size: 30px;
  color: #218380;
} */

.clock {
  font-family: 'Mina', sans-serif;
  font-size: 30px;
  color: #218380;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  background-color: #FFBC42;
  min-width: 300px;
  width: 25vw;
  height: 200px;
  padding-right: 40px;
  border-radius: 10px;
  border: 7px solid #218380;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
